IPv6 for STUN

Can you add IPv6 support in more IPv4?

And an update of all supported RFCs: https://www.process-one.net/en/ejabberd/protocols/.

There are for STUN:
- RFC 3489 - "classic" STUN: https://tools.ietf.org/html/rfc3489
- RFC 5389 - base "new" STUN specs: https://tools.ietf.org/html/rfc5389
- RFC 5769 - test vectors for STUN protocol testing: https://tools.ietf.org/html/rfc5769
- RFC 5780 - NAT behavior discovery support: https://tools.ietf.org/html/rfc5780
- RFC 7350 - DTLS as Transport for STUN: https://tools.ietf.org/html/rfc7350
- RFC 7376 - Problems with STUN Long-Term Authentication for TURN: https://tools.ietf.org/html/rfc7376
- RFC 7443 - ALPN support for STUN & TURN: https://tools.ietf.org/html/rfc7443
- RFC 7635 - oAuth third-party TURN/STUN authorization: https://tools.ietf.org/html/rfc7635
- RFC 8489 - base "new" STUN specs: https://tools.ietf.org/html/rfc8489
- RFC 8656 - TURN: Relay Extensions to STUN: https://tools.ietf.org/html/rfc8656

Maybe I have forgotten some.

@weiss: Good job!