IPv6 for TURN

Can you add IPv6 support in more IPv4?

And an update of all supported RFCs: https://www.process-one.net/en/ejabberd/protocols/.

There are for TURN:
- RFC 5766 - base TURN specs: https://tools.ietf.org/html/rfc5766
- RFC 5928 - TURN Resolution Mechanism: https://tools.ietf.org/html/rfc5928
- RFC 6062 - TCP relaying TURN extension: https://tools.ietf.org/html/rfc6062
- RFC 6156 - IPv6 extension for TURN: https://tools.ietf.org/html/rfc6156
- RFC 7376 - Problems with STUN Long-Term Authentication for TURN: https://tools.ietf.org/html/rfc7376
- RFC 7443 - ALPN support for STUN & TURN: https://tools.ietf.org/html/rfc7443
- RFC 7635 - oAuth third-party TURN/STUN authorization: https://tools.ietf.org/html/rfc7635
- RFC 8016 - Mobility with TURN: https://tools.ietf.org/html/rfc8016
- RFC 8155 - TURN Server Auto Discovery: https://tools.ietf.org/html/rfc8155
- RFC 8656 - TURN: Relay Extensions to STUN: https://tools.ietf.org/html/rfc8656

Maybe I have forgotten some.

@weiss: Good job!